@import "./settings";
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  margin:0;
  background-color:#f9fafb;
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
 
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

textarea {
  margin-top: -10px;
  resize: none;
  overflow: auto;
  width: 254px;
  height: 90px;
  
}
